.gridContainer {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 2px;
}

@media (max-width: 500px) {
  .gridContainer {
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
  }
}

.gridCell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border: 1px solid navy;
  cursor: pointer;

  font-weight: bold;
}

.gridCell:hover {
  background-color: lightgray;
}

.shipCell {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes hitAnimation {
  0% {
    background-color: rgba(255, 0, 0, 0.8);
    transform: scale(1.1);
  }
  100% {
    background-color: red;
    transform: scale(1);
  }
}

@keyframes missAnimation {
  0% {
    background-color: transparent;
    transform: scale(1);
  }
  50% {
    background-color: rgba(128, 128, 128, 0.7);
    transform: scale(1.2);
  }
  100% {
    background-color: gray;
    transform: scale(1);
  }
}

.hitCell {
  background-color: red;
  animation: hitAnimation 0.5s ease-out;
}

.missCell {
  background-color: gray;
  animation: missAnimation 0.5s ease-out;
}
