.linkButton {
  font-weight: bold !important;
  font-size: 1.1rem !important;
}

.toolBarPadding {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .toolBarPadding {
    margin: 0 0%;
  }
}
